.itemBox
    width: 100vw
    //border: 3px solid salmon
    text-align: center
    display: flex
    justify-content: space-between
    transition: transform var(--trans-time) //aqui porque cuando quito las class swiping se va
    font-size: 7vw

.swiping
    transform: translateX(var(--transform))

.minus
    display: block
    padding-left: 1rem
    color: var(--red-light)
.plus
    display: block
    padding-right: .1rem
    color: var(--green-light)

.bought
    color: var(--grey-light-1)
    .q
        display: none
.borrado
    display: none
