.itemBox
    width: 100vw
    //border: 3px solid salmon
    text-align: center
    display: flex
    justify-content: space-between
    transform: translateX(var(--transform))
    transition: all var(--trans-time)

.minus
    display: block
    padding-left: 1rem
    color: var(--red-light)
.plus
    display: block
    padding-right: .1rem
    color: var(--green-light)
