
.unFocused
    opacity: 0

.focused
    opacity: 1

    //input styling
    text-align: center
    margin: auto
    display: block
    outline: none
    border: none
    font-size: 6vw
    letter-spacing: inherit
    color: inherit

    caret-color: transparent

    //position
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)

.submitBtn
    width: 0
    opacity: 0



.hitBox
    //border: 3px solid red
    position: fixed
    bottom: 3rem
    width: calc(100vw - 6rem) //para quitar el padding
    height: 20%
    cursor: none
    //border: 3px solid green
